{% extends 'front/layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="index">



            <ul>
                {% for p in products %}
                    {#{{ form_start(form,'ss',{'product'}) }}#}
                     <li>
                         <div>{{ p.name }} {{ p.price }}</div>
                         {{ render(controller('App\\Controller\\Front\\OrderController::addItemForm', {'id' : p.id})) }}
                     </li>


                    {#{{ form_end() }}#}
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}